* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
}

/* Sidebar starts */

.sidebar {
    background-color: #005BBB;
    height: 100vh;
    width: 300px;
    position: fixed;
    overflow-y: auto;

}

.sidebar::-webkit-scrollbar {
    width: 0px;
  }

.sidebar.active {
    left: 0;
}

.sidebar .sidebar-header {
    padding: 20px 10px 10px;
    display: flex;
}


.sidebar .sidebar-header .logo {
    height: 40px;
    width: 40px;
}

.sidebar .sidebar-header .heading {
    padding-top: 10px;
    margin-left: 10px;
}

.sidebar .sidebar-header .heading a {
    text-decoration: none;
}


.sidebar .sidebar-header .heading-text {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.sidebar .sidebar-menu {
    margin-top: 30px;
    padding: 0 20px;
}

.sidebar ul {
    list-style: none;
    position: relative;
}

.sidebar .dropdown1 li {
    padding: 15px 10px;
    position: relative;

}

.sidebar .dropdown1 li a {
    cursor: pointer;
    text-decoration: none;
}

.sidebar .dropdown1 .dropmenu-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

}

.rotate {
    transform: rotate(90deg);
    transition: 0.3s ease;
}

.sidebar .dropdown1 .dropmenu-icon2 {
    width: 10px;
    height: 10px;
    margin-left: 50px;
}

.sidebar .dropdown1 .text1 {
    color: #ffffff;
    font-size: 15px;
}

.sidebar .dropdown2 {
    margin-left: 15px;
    margin-top: 15px;
}

.sidebar .dropdown2 .dropmenu-icon3 {
    width: 10px;
    height: 10px;
    margin-left: 122px;
}

.sidebar .dropdown2 .dropmenu-icon4 {
    width: 10px;
    height: 10px;
    margin-left: 124px;
}

.sidebar .dropdown2 .text2 {
    color: #ffffff;
    font-size: 15px;
}

.sidebar .dropdown2 li {
    padding-bottom: 10px;
}

.sidebar .dropdown-item {
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
}

.sidebar .dropdown-item.show {
    display: block;
}

.sidebar .dropdown-item {
    list-style: disc;
    margin-left: 40px;
    color: #ffffff;

}

.sidebar .dropdown-item .text3 {
    color: #ffffff;
    font-size: 13px;
}

/* sidebar ends */

.right-side-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 300px; 
}

/* navbar starts */

.top-navBbar {
    padding-left: 5px;
    display: flex;
    background: linear-gradient(to right, #005BBB, #74D79D);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.top-navBbar .arrow {
    height: 50px;
}

.navbar-content {
    margin-top: 5px;
    align-self: left;
}

.navbar-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-content ul li a{
    cursor: pointer;
}

.admin-profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    gap: 10px;
}

.admin-profile h4, span {
    color: #ffffff;
}

.admin-profile span {
    font-size: 14px;
}

.admin-profile img {
    width: 50px;
}

/* navbar ends */

/* main content starts */

.main-content-space {
    flex: 1;
    background-color: #F2F2F2;
    padding: 20px; 
   
}

.content-card{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card1{
    display: block;
}

.card1 .admin-profile2{
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
}

.card1 .admin-profile2 img{
    width: 80px;
    height: 80px;
}

.card1 .admin-profile2 span{
    color: #000000;
    display: block;
}

.card1 .admin-profile2 span h3{
    font-size: 14px;
}

.card1 .admin-profile2 span p{
    font-size: 12px;
    line-height: 20px;
}
.card1-header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    background-color: #005BBB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-content{
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn img{
    align-items: center;
    margin-right: 5px;
    width: 12px;
    /* margin-top: 5px; */
}
.btn span{
    color: #7FA7E7;
    font-size: 12px;
}

.card1-footer{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card1-footer .form{
    margin: 0 30px;
    margin-bottom: 30px;
    flex-grow: 1;
}

.card1-footer .form ul{
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.card1-footer .form ul .input-field{
    align-items: left;
}

.card1-footer .form ul .input-field span{
    display: block;
}

.card1-footer .form ul .input-field .text3{
    font-size: 12px;
    color: #9DA0A2;
}
.card1-footer .form ul .input-field .text4{
    font-size: 14px;
    color: #1E1E1E;
    line-height: 25px;
}

.card2{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.card2 .form2{
    display: flex;
    margin: 10px 30px;
    flex-grow: 1;

}
.card2 .form2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.card2 .form2 ul .input-field{
    align-items: left;
}

.card2 .form2 ul .input-field span{
    display: block;
}

.card2 .form2 ul .input-field .text3{
    font-size: 14px;
    color: #9DA0A2;
}
.card2 .form2 ul .input-field .text4{
    font-size: 12px;
    color: #1E1E1E;
    line-height: 20px;
}



/* main content ends */

/* footer starts */

footer {
    height: 40px;
    background: linear-gradient(to right, #005BBB, #74D79D);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 300px; 
}


/* footer ends */
