/* *{
    box-sizing: border-box;

} */

body{
    margin: 0;
    padding: 0;
    /* max-width: 1280px;
    max-height: 832px; */
    font-family: 'Poppins',sans-serif;
    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 100vh;
    
}

.left-side{
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background: #005BBB;
    margin: 0;
    
    
}

.left-side .scl-logo{
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-top: 1rem;
    line-height: 10px;
    font-weight: 600;
    color: white;
   
}

.left-side .scl-logo .logo-vector{
    margin-right: 1rem;
    padding-top: 10px;


}

.left-side .studentimage{
    height: 510px;
    width: 408px;
    padding-left: 3rem;
}

.right-side{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 3rem;
    background-color: white;
    margin: 0;
    
}

.right-side .login-form{
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    /* border: 3px solid #005BBB; */
    border-radius: 15px;
}


.form-head{
    color: black;
    text-align: center;
    padding-bottom: 50px ;
    /* border: 1px solid red; */
}

.login-form form{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 400px;
    /* border: 1px solid green; */
}

.login-form button{
    background: linear-gradient(to right, #005BBB, #74D79D);
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}



/* ---- media queries ------*/



/* Media Queries */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-side, .right-side {
        flex: 1;
    }
}
