* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* navbar starts */

.top-navBbar {
    padding-left: 5px;
    display: flex;
    background: linear-gradient(to right, #005BBB, #74D79D);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.top-navBbar .arrow {
    height: 50px;
    margin-left: 100px;
}

.navbar-content {
    margin-top: 5px;
    align-self: left;
}

.navbar-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-content ul li a{
    cursor: pointer;
}

.admin-profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    gap: 10px;
}

.admin-profile h4, span {
    color: #ffffff;
}

.admin-profile span {
    font-size: 14px;
}

.admin-profile img {
    width: 50px;
}

/* navbar ends */

/* main content starts */

.main-content-space {
    flex: 1;
    background-color: #F2F2F2;
    padding: 20px; 
   
}

.content-card{
    margin: 10px 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}


.card2{
    display: flex;
    margin-top: 15px;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
}

.card2 .table-section{
    height: 350px;
    overflow: auto;
}

.card2 table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    color: black;
    /* font-size: 14px; */
}

.reg-clmn{
    width: 150px;
}

.action-clmn{
    width: 150px;
}

.num-list{
    width: 50px;
}

tbody .action-btn img{
    width: 30px;
    height: 30px;
}

tbody .action-btn a{
    cursor: pointer;
}

th,td{
    border: 1px solid #9DA0A2;
    text-align: center;
    padding: 10px ;
    font-size: 14px;
    color: black;   
}

tfoot td{
    padding-top: 60px;
    text-align: end;
    border: none;
}

tfoot td button{
    color: #9DA0A2;
    font-size: 14px;
    border: 1px solid #9DA0A2;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

tfoot td button span{
    background-color: #005BBB;
    padding: 5px 10px;
    margin: 0 10px;
}


/* main content ends */

/* footer starts */

footer {
    height: 40px;
    background: linear-gradient(to right, #005BBB, #74D79D);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


/* footer ends */
