* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
}

/* Sidebar starts */

.sidebar {
    background-color: #005BBB;
    height: 100vh;
    width: 300px;
    position: fixed;
    overflow-y: auto;

}

.sidebar::-webkit-scrollbar {
    width: 0px;
  }

.sidebar.active {
    left: 0;
}

.sidebar .sidebar-header {
    padding: 20px 10px 10px;
    display: flex;
}


.sidebar .sidebar-header .logo {
    height: 40px;
    width: 40px;
}

.sidebar .sidebar-header .heading {
    padding-top: 10px;
    margin-left: 10px;
}

.sidebar .sidebar-header .heading a {
    text-decoration: none;
}


.sidebar .sidebar-header .heading-text {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.sidebar .sidebar-menu {
    margin-top: 30px;
    padding: 0 20px;
}

.sidebar ul {
    list-style: none;
    position: relative;
}

.sidebar .dropdown1 li {
    padding: 15px 10px;
    position: relative;

}

.sidebar .dropdown1 li a {
    cursor: pointer;
    text-decoration: none;
}

.sidebar .dropdown1 .dropmenu-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

}

.rotate {
    transform: rotate(90deg);
    transition: 0.3s ease;
}

.sidebar .dropdown1 .dropmenu-icon2 {
    width: 10px;
    height: 10px;
    margin-left: 50px;
}

.sidebar .dropdown1 .text1 {
    color: #ffffff;
    font-size: 15px;
}

.sidebar .dropdown2 {
    margin-left: 15px;
    margin-top: 15px;
}

.sidebar .dropdown2 .dropmenu-icon3 {
    width: 10px;
    height: 10px;
    margin-left: 122px;
}

.sidebar .dropdown2 .dropmenu-icon4 {
    width: 10px;
    height: 10px;
    margin-left: 124px;
}

.sidebar .dropdown2 .text2 {
    color: #ffffff;
    font-size: 15px;
}

.sidebar .dropdown2 li {
    padding-bottom: 10px;
}

.sidebar .dropdown-item {
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
}

.sidebar .dropdown-item.show {
    display: block;
}

.sidebar .dropdown-item {
    list-style: disc;
    margin-left: 40px;
    color: #ffffff;

}

.sidebar .dropdown-item .text3 {
    color: #ffffff;
    font-size: 13px;
}

/* sidebar ends */

.right-side-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 300px; 
}

/* navbar starts */

.top-navBbar {
    padding-left: 5px;
    display: flex;
    background: linear-gradient(to right, #005BBB, #74D79D);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.top-navBbar .arrow {
    height: 50px;
}

.navbar-content {
    margin-top: 5px;
    align-self: left;
}

.navbar-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-content ul li a{
    cursor: pointer;
}

.admin-profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    gap: 10px;
}

.admin-profile h4, span {
    color: #ffffff;
}

.admin-profile span {
    font-size: 14px;
}

.admin-profile img {
    width: 50px;
}

/* navbar ends */

/* main content starts */

.main-content-space {
    flex: 1;
    background-color: #F2F2F2;
    padding: 20px; 
   
}

.content-card{
    margin: 10px 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-card .card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #005BBB;
    border-radius: 10px;
    height: 70px;
}

.card1 .search-box{
    align-items: center;
    justify-content: center;
    display: flex;
    /* border: 1px solid red; */
}

.card1 .search-box img{
    margin-right: 20px;

}

.card1 .search-box input{
    margin-bottom: 2px;
    font-size: 16px;
    background-color: #005BBB;
    border: none;

}

.card1 .search-box input::placeholder{
    color: #ffffff;
}
.card1 .search-box input[type="text"]{
    color: #ffffff;
}

.add-btn{
    display: flex;
    align-items: center;
    width: 170px;
    padding-left: 10px;
    height: 40px;   
    border-radius: 5px;
    background-color: #ffffff; 
}

.add-btn img{
    margin-right: 10px;
}

.add-btn button{
    color: #005BBB;
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.card2{
    display: flex;
    margin-top: 15px;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
}

.card2 .table-section{
    height: 350px;
    overflow: auto;
}

.card2 table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    color: black;
    /* font-size: 14px; */
}

.reg-clmn{
    width: 150px;
}

.action-clmn{
    width: 150px;
}

.num-list{
    width: 50px;
}

tbody .action-btn img{
    width: 30px;
    height: 30px;
}

tbody .action-btn a{
    cursor: pointer;
}

th,td{
    border: 1px solid #9DA0A2;
    text-align: center;
    padding: 10px ;
    font-size: 14px;
    color: black;   
}

tfoot td{
    padding-top: 60px;
    text-align: end;
    border: none;
}

tfoot td button{
    color: #9DA0A2;
    font-size: 14px;
    border: 1px solid #9DA0A2;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

tfoot td button span{
    background-color: #005BBB;
    padding: 5px 10px;
    margin: 0 10px;
}


/* main content ends */

/* footer starts */

footer {
    height: 40px;
    background: linear-gradient(to right, #005BBB, #74D79D);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 300px; 
}


/* footer ends */
